@{
    ViewData["Title"] = "Home Page";
}

<style>
    @@media (max-width: 576px) {
        .row {
            width: 60dvw !important;
        }

        .icon-home {
            max-width: 6vh !important;
        }
    }
</style>

<div class="container-fluid mx-auto text-center" style="height: 89vh !important;">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
            <h1>Basem Bahattab</h1>
            <div class="row" style="width: 25vh;">
                <div class="col">
                    <a target="_blank" href="https://github.com/BasemBahattab"><img src="/Images/Home/Github.png" class="icon-home" alt="Github icon"></a>
                </div>
                <div class="col">
                    <a target="_blank" href="https://www.linkedin.com/in/basem-bahattab-1470b1224/"><img src="/Images/Home/LinkedIn.png" class="icon-home" alt="LinkedIn icon"></a>
                </div>
                <div class="col">
                    <a target="_blank" href="mailto:bahattabbasem@gmail.com"><img src="/Images/Home/Gmail.png" class="icon-home" alt="Gmail icon"></a>
                </div>
            </div>
            <br>
            <div class="row justify-content-center mw-100">
                <h3>Protfolio made by</h3>
                <div class="row" style="width: 25vh;">
                    <div class="col">
                        <a target="_blank" href="https://visualstudio.microsoft.com/"><img src="/Images/Home/Visual Studio.png" class="icon-home" alt="Visual Studio icon"></a>
                    </div>
                    <div class="col">
                        <a target="_blank" href="https://dotnet.microsoft.com/en-us/apps/aspnet"><img src="/Images/Home/ASP.NET.png" class="icon-home" alt="ASP.NET icon"></a>
                    </div>
                    <div class="col">
                        <a target="_blank" href="https://dotnet.microsoft.com/en-us/languages/csharp"><img src="/Images/Home/C Sharp.png" class="icon-home" alt="C# icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>